<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spook1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>spook2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>spook3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>spook4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spook.png</string>
            <key>size</key>
            <string>{16,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b12ce51bac983b148ed985f0dd59365:79610b59be72d5eee8a7bcf04b9bbba2:772f9681b5c3d3e969fb0cb41e7f5bf8$</string>
            <key>textureFileName</key>
            <string>spook.png</string>
        </dict>
    </dict>
</plist>
