<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walking.png</string>
            <key>size</key>
            <string>{96,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65d4508d395cfed58d458d069ed4a9bf:060d76006e6e1348aa36a7490861f133:d8d56c89fe18591afe6d23597f08fc13$</string>
            <key>textureFileName</key>
            <string>walking.png</string>
        </dict>
    </dict>
</plist>
